<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="ur_srdf" params="">
    <group name="ur_manipulator">
      <chain base_link="base_link" tip_link="gripper_tip_link"/>
    </group>

    <group_state name="home" group="ur_manipulator">
      <joint name="elbow_joint" value="0"/>
      <joint name="shoulder_lift_joint" value="-1.5707"/>
      <joint name="shoulder_pan_joint" value="0"/>
      <joint name="wrist_1_joint" value="0"/>
      <joint name="wrist_2_joint" value="0"/>
      <joint name="wrist_3_joint" value="0"/>
    </group_state>
    <group_state name="up" group="ur_manipulator">
      <joint name="elbow_joint" value="0"/>
      <joint name="shoulder_lift_joint" value="-1.5707"/>
      <joint name="shoulder_pan_joint" value="0"/>
      <joint name="wrist_1_joint" value="-1.5707"/>
      <joint name="wrist_2_joint" value="0"/>
      <joint name="wrist_3_joint" value="0"/>
    </group_state>
    <group_state name="test_configuration" group="ur_manipulator">
      <joint name="elbow_joint" value="1.4"/>
      <joint name="shoulder_lift_joint" value="-1.62"/>
      <joint name="shoulder_pan_joint" value="1.54"/>
      <joint name="wrist_1_joint" value="-1.2"/>
      <joint name="wrist_2_joint" value="-1.6"/>
      <joint name="wrist_3_joint" value="-0.11"/>
    </group_state>

    <disable_collisions link1="base_link" link2="base_link_inertia" reason="Adjacent"/>
    <disable_collisions link1="base_link_inertia" link2="shoulder_link" reason="Adjacent"/>
    <disable_collisions link1="tool0" link2="wrist_1_link" reason="Never"/>
    <disable_collisions link1="tool0" link2="wrist_2_link" reason="Never"/>
    <disable_collisions link1="tool0" link2="wrist_3_link" reason="Adjacent"/>
    <disable_collisions link1="forearm_link" link2="upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="forearm_link" link2="wrist_1_link" reason="Adjacent"/>
    <disable_collisions link1="shoulder_link" link2="upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="wrist_1_link" link2="wrist_2_link" reason="Adjacent"/>
    <disable_collisions link1="wrist_1_link" link2="wrist_3_link" reason="Never"/>
    <disable_collisions link1="wrist_2_link" link2="wrist_3_link" reason="Adjacent"/>

    <disable_collisions link1="dummy_gripper_link" link2="wrist_3_link" reason="Adjacent"/>
    <disable_collisions link1="dummy_gripper_link" link2="wrist_2_link" reason="Never"/>
    <disable_collisions link1="dummy_gripper_link" link2="wrist_1_link" reason="Never"/>
    <disable_collisions link1="dummy_gripper_link" link2="tool0" reason="Never"/>
    <disable_collisions link1="dummy_gripper_link" link2="flange" reason="Never"/>
    <disable_collisions link1="gripper_tip_link" link2="dummy_gripper_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_tip_link" link2="wrist_3_link" reason="Never"/>
    <disable_collisions link1="gripper_tip_link" link2="wrist_2_link" reason="Never"/>
    <disable_collisions link1="gripper_tip_link" link2="wrist_1_link" reason="Never"/>
    <disable_collisions link1="gripper_tip_link" link2="tool0" reason="Never"/>
    <disable_collisions link1="gripper_tip_link" link2="flange" reason="Never"/>
  </xacro:macro>
</robot>
